In [64]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np
import os
import cv2
import matplotlib.pyplot as plt
from keras.layers import Flatten, Dense, Activation
from keras.models import Sequential
%matplotlib inline

In [65]:
df_train= pd.read_csv(r'C:\Users\Administrator\machine learning\train.csv')

In [66]:
df_test= pd.read_csv(r'C:\Users\Administrator\machine learning\Test_fCbTej3_0j1gHmj.csv')

In [68]:
train_img_path = r"C:\Users\Administrator\machine learning\Images\train"
train_img_path

'C:\\Users\\Administrator\\machine learning\\Images\\train'

In [69]:
trains= list()

for i in df_train.filename:
    img= cv2.imread(os.path.join(train_img_path, i))
    trains.append(img)

In [70]:
x_train= np.array(trains)/255

In [81]:
y_train= df_train.label

In [73]:
test_img_path = r"C:\Users\Administrator\machine learning\Images\test"
test_img_path

'C:\\Users\\Administrator\\machine learning\\Images\\test'

In [74]:
test= list()

for i in df_test.filename:
    img= cv2.imread(os.path.join(test_img_path, i))
    test.append(img)

In [75]:
x_test= np.array(test)/255

In [76]:
model= Sequential(
[
    Flatten(input_shape=[28,28,3]), 
    Dense(200, activation='relu'), 
    Dense(180, activation='relu'),
    Dense(10, activation='softmax') 
]
)

In [77]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_4 (Flatten)          (None, 2352)              0
_________________________________________________________________
dense_10 (Dense)             (None, 200)               470600
_________________________________________________________________
dense_11 (Dense)             (None, 180)               36180
_________________________________________________________________
dense_12 (Dense)             (None, 10)                1810
=================================================================
Total params: 508,590
Trainable params: 508,590
Non-trainable params: 0
_________________________________________________________________

In [78]:
model.compile(loss= 'sparse_categorical_crossentropy',
             optimizer= 'adam',
             metrics= ['accuracy'])

In [82]:
model.fit(x_train, y_train, epochs= 10)

Epoch 1/10
49000/49000 [==============================] - 158s 3ms/step - loss: 0.2130 - accuracy: 0.9352
Epoch 2/10
49000/49000 [==============================] - 197s 4ms/step - loss: 0.0967 - accuracy: 0.9702
Epoch 3/10
49000/49000 [==============================] - 166s 3ms/step - loss: 0.0684 - accuracy: 0.9782
Epoch 4/10
49000/49000 [==============================] - 178s 4ms/step - loss: 0.0539 - accuracy: 0.9828
Epoch 5/10
49000/49000 [==============================] - 174s 4ms/step - loss: 0.0439 - accuracy: 0.9857
Epoch 6/10
49000/49000 [==============================] - 171s 3ms/step - loss: 0.0361 - accuracy: 0.9882
Epoch 7/10
49000/49000 [==============================] - 167s 3ms/step - loss: 0.0301 - accuracy: 0.9900
Epoch 8/10
49000/49000 [==============================] - 169s 3ms/step - loss: 0.0306 - accuracy: 0.9904
Epoch 9/10
49000/49000 [==============================] - 170s 3ms/step - loss: 0.0226 - accuracy: 0.9925
Epoch 10/10
49000/49000 [==============================] - 168s 3ms/step - loss: 0.0248 - accuracy: 0.9922

In [91]:
y_predicted= model.predict(x_test)

In [92]:
df_test.head()

    filename  label
0  49000.png      4
1  49001.png      0
2  49002.png      9
3  49003.png      7
4  49004.png      9

In [93]:
yp= [ np.argmax(i) for i in y_predicted]

In [94]:
df_test['label']= yp

In [95]:
df_test.head()

    filename  label
0  49000.png      4
1  49001.png      0
2  49002.png      9
3  49003.png      7
4  49004.png      9

In [96]:
df_test.to_csv('result.csv', index=False)